@media (max-height: 870px) {
    .text {
        margin-top: -20px;
    }
    .mascot {
        margin-top: -10px;
    }
}

@media (max-height: 760px) {
    .text {
        margin-top: -50px;
    }
    .mascot {
        margin-top: -40px;
    }
}

@media (max-height: 680px) {
    .text {
        margin-top: -60px;
    }
    .mascot {
        margin-top: -50px;
    }
}

@media (max-width: 410px) {
    .text {
        margin-left: -10px;
    }
    .mascot {
        margin-right: -20px;
    }
}

@media (max-width: 360px) {
    .text {
        margin-left: -20px;
    }
    .mascot {
        margin-right: -30px;
    }
}


/* 128 - 44 */