@media (max-height: 870px) {
    .text {
        top: 100px;
    }
    .mascot {
        top: 30px;
    }
}

@media (max-height: 740px) {
    .name {
        margin-top: 20px;
    }
}

@media (max-width: 389px) {
    .text {
        left: 40px;
    }
    .mascot {
        right: 10px;
    }
}

@media (max-width: 375px) and (max-height: 667px) {
    .text {
        left: 55px;
        top: 55px;
        font-size: 30px;
        line-height: 34px;
    }
    .mascot {
        top: -40px;
        right: 10px;
        width: 40%;
        height: 40%;
    }
    .btn {
        margin-top: 20px;
        margin-left: 15px;
    }
    .name {
        margin-top: 20px;
    }
    .card {
        position: absolute;
        bottom: 0;
        height: auto;
    }
}

@media (max-height: 640px) {
    .mascot {
        width: 30%;
        height: 30%;
        right: 40px;
        top: -20px;
    }
    .text {
        top: 30px;
        font-size: 25px;
        left: 65px;
    }
}


/* 128 - 44 */