@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

#root {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-primary: #016B45;
    --color-secondary: #1A7F5D;
    --color-tertiary: #9CCC7F;
    --color-quaternary: #DAE8D1;
    --color-quinary: #E6F1ED;
    --color-senary: #BFBFBF;
    --color-septenary: #07744E;
    --color-octonary: #84B567;
}

.bg-color {
    background-color: --color--primary;
}

.underline {
    text-decoration: underline;
}

.red {
    background-color: #D2042D;
}


.black {
    background-color: #000000;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
  }
  
/* Add this to your AdminDesktop.css */
.filter-primary {
  filter: invert(56%) sepia(64%) saturate(333%) hue-rotate(87deg) brightness(90%) contrast(90%);
}
