.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.border-secondary {
    border-color: var(--color-secondary);
}

.welcome {
    top: 45%;
    bottom: 55%;
}

.element-bg2 {
    top: 45%;
}

.btn-welcome:hover {
    background-color: var(--color-secondary);
    color: white;
}

.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}